*{
    background-color: #F5F8FF;
}
.head-part{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    /* background-position: bottom right; */
    background-size: cover;
    height:
}


/* navbar styles */
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav li{
    list-style: none;
    color: #4E47FF;
    font-size: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    background-color: transparent;
}

nav button{

    height: 48px;
    padding: 12px 36px;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
}

nav button:hover{
    background-color: #7671f3;
}

/* banner styles */

.open-sans-2nd-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.hero-section{

    margin: 158px 300px 150px;
    background: transparent;
    text-align: center;

}

.hero-section h1{

     color: #252432; 
     font-size: 65px;
     /* text-align: center; */
     background: transparent;

}

.hero-section button{

    height: 48px;
    padding: 12px 70px;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
    /* margin-right: 450px;
    margin-left: 450px;
    margin-top: 25px;
    margin-bottom: 150px; */
    margin-bottom: 160px;
}

.hero-section button:hover{
    background-color: #7671f3;
}

/* main part */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.second-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 116px;
}

.second-img img{
    border-radius: 48px;
}

.second-written-part{
    width: 517px;
}
.second-written-part h2{
    font-size: 42px;
    margin: 0;

}
.second-written-part p{
    color: rgba(37, 36, 50, 0.50);
    font-size: 24px;
    font-weight: 400;
    margin:23px 0;
}

.second-written-part button{
        height: 48px;
    padding: 12px 36px;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
}

.second-written-part button:hover{
    background-color: #7671f3;
}
/* 3rd section style */
.third-section{
      background-color: #4E47FF1A;
    padding: 50px 80px;
    border-radius: 24px;
    margin-bottom: 116px;
}
.third-section h2{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
    background: transparent;
}

.th-head{
    display: flex;
    justify-content: space-between;
    background: transparent;

}

.th-heading h1{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0px;
    background-color: #4E47FF1A;
    
}

/* .bigger-para{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
} */


.th-heading p{
  color:  rgba(0, 0, 0, 0.50);
  font-size: 20px;
  font-weight: 400px;
  margin: 0px;
  text-align: center;
  background-color: #4E47FF1A;
}

/* get in touch */

.get-in-touch{
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;
}

.get-descrip{
    width: 528px;
}

.get-descrip h1{
    font-size: 97px;
    font-weight: 700;
}

.form-get form{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.form-get button{
      height: 48px;
    padding: 17px 101px;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
    
}
.form-get button:hover{
    background-color: #7671f3;
}

.form-get input[type=text]{
    padding: 20px 32px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #D6DDED;
       background-color: white;
}
.form-get input[type=email]{
    padding: 20px 32px;
    width: 100%;
    border-radius: 10px;
     margin-bottom: 10px;
     border: 1px solid #D6DDED;
        background-color: white;
    
}

.form-get textarea{
    padding: 20px 32px;
    width: 100%;
    border-radius: 10px;
     margin-bottom: 10px;
     border: 1px solid #D6DDED;
        background-color: white;
}

/* card section */

.challenge-part h2{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}
.three-cards{
    display: flex;
    justify-content: space-between;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.card-section{
    border-radius: 14px;
    background-color: white;
    width:310px;
    margin-bottom: 116px;
    padding: 20px;
    box-shadow: 7px 9px 12px #4E47FF1A;
}
.card-star{
    background-color: white;
    margin: 10px 0;
    margin-bottom: 40px;
}
.card-star img{
    background-color: white;
}
.card{
    background-color: white;
}
.card h3{
    background-color: white;
    margin: 0;
}
.card p{
    background-color: white;
    margin: 10px 0;
}
.card-profile{
    display: flex; 
    background-color: white;  
}

.card-dis{
    background-color: white;
}
.card-dis p{
    margin: 0;
    margin: 9px 15px;

}

.card-profile img{
    width: 80px;
    border-radius: 50%;
    background-color: white;
}
.card-profile p{
    background-color: white;
}

,.three-cards{

}

/* fourth section */

.fourth-section{
    margin-bottom: 116px;
    background: white;
    border-radius: 14px;
    text-align: center;
    padding: 71px 150px;
}

.fourth-section h2{
    font-size: 50px;
    font-weight: 700;
    /* text-align: center; */
    margin: 0px;
    margin-bottom: 20px;
    background: white;
}

.fourth-section p{
    color: #00000080;
    /* text-align: center; */
    margin: 0;
    margin-bottom: 20px;
    background: white;
}

.fourth-section button{
    height: 48px;
    padding: 12px 36px;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
    /* margin: 20px 470px; */
    /* margin-top: 10px;
    margin-bottom: 35px; */
    margin-top: 0;
    margin-bottom: 20px;
}
.fourth-section button:hover{
    background-color: #7671f3;
}

.fourth-section img{
    height: 365.773px;
    border-radius: 48px;
    /* margin: 0 140px; */
}



/* footer section */
.footer-section{
    padding: 104px 500px;
       background-color: white;
}

.footer-section h1{
    text-align: center;
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
       background-color: white;
       margin: 0;
}
.footer-section p{
    text-align: center;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
       background-color: white;
       margin: 0;
}

.footer-section ul{
    display: flex;
    justify-content: space-around;
       background-color: white;
       margin: 0;
       margin: 20px 0;
}
.footer-section ul li{
    list-style: none;
       background-color: white;
       margin: 0;
}

.footer-section ul li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
       background-color: white;
}
